<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="user/base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Slider</title>
	
</head>
<body>
	<section>
		<div style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
		<h1 style="margin-top: 70px;">Refund Policy</h1>
		<h3>Overview</h3>
		<p>At Garima Electrical, we are committed to providing high-quality products and services. If you are not completely satisfied with your purchase, we are here to help. This Refund Policy outlines the conditions under which refunds will be issued and the process for requesting a refund.</p>
		
		<h3>Refund Eligibility</h3>
		<p>To be eligible for a refund, the following conditions must be met:
		
		1 Proof of Purchase: You must provide a valid receipt or proof of purchase.
		2 Return Window: Requests for refunds must be made within 30 days of the purchase date.
		3 Product Condition: The product must be unused, in its original packaging, and in the same condition that you received it.
		4 Non-Returnable Items: Certain items are non-returnable and non-refundable. These include:
		. Gift cards
		. Downloadable software products
		. Perishable goods (such as batteries) once opened
		
		<h3>Late or Missing Refunds</h3>
		<p>If you have not received your refund after 10 business days, please check your bank account again. Then, contact your credit card company, as it may take some time before your refund is officially posted. If you have done all of this and still have not received your refund, please contact us at support@garimaelectrical.com.</p>
		
		<h3>Exchanges</h3>
		<p>We only replace items if they are defective or damaged. If you need to exchange an item for the same product, please contact us at support@garimaelectrical.com for further instructions.</p>
		
		<h3>Sale Items</h3>
		<p>Only regular-priced items may be refunded. Sale items are non-refundable.</p>
		</div>	
	</section>
		</body>
		</html>
