<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Garima Electrical - Signin</title>
    <style>
        
    </style>
</head>
<body>
	<section>
    <div class="container" style="width: 60%; ">
        <div class="panel left-panel" style="background-color: white;">
            <div class="form-container" style="margin-top: 70px;">
				<form id="login-form" class="form" th:action="@{/dologin}" method="post">
				<div th:if="${param.error}" class="alert alert-danger">
						Invalid username and password	
				</div>
				<div th:if="${param.logout}" class="alert alert-success">
						You have been logged out   	 
				</div>
                <h1 class="text-center">Sign In</h1>
                <div class="social-button text-center" style="margin-top:5px; margin-bottom:10px;">
					<a style="margin-right:20px;" th:href="@{/oauth2/authorization/google}" class="icon"><i class="fa-brands fa-google fa-bounce fa-2xl" style="color: #B197FC;"></i></a>
					<a th:href="@{/oauth2/authorization/github}" class="icon"><i class="fa-brands fa-github fa-bounce fa-2xl" style="color: #B197FC;"></i></a>
                </div>
                <p class="text-center">or use your email password</p>
                    <input type="email" placeholder="Email"	name="username" id="username" required>
                    <div class="password-container">
                        <input style="width:270px;" type="password" placeholder="Password" name="password" id="password" required>
						<button style="margin-left:-40px; height: 28px; width:28px; margin-top:2px; border:0.1px white;  text-decoration: none; position: absolute; background-color:white;" type="button" id="togglePassword" class="toggle-password">
							<i style=" color: rgb(54, 54, 54); border:0.1px white; height:10px; width:10px;" id="eyeIcon" class="fa fa-eye"></i>
                    </div>
                    <a th:href="@{/forgot}" class="text-center" style="margin-bottom: 20px; margin-top: 20px;">Forgot Your Password?</a>
                    <button style="background-color: rgb(231, 206, 255);" type="submit">Sign In</button>
                </form>
            </div>
        </div>
        <div class="panel right-panel" style="background-color:rgb(231, 206, 255);">
            <h1 style="margin-bottom: 20px; margin-top: 60px;">Hello, Friend!</h1>
            <p>Register with your personal details to use all of site features</p>
			<a th:href="@{/signup}" class="btn btn-dark" style="border-color:rgb(231,206,255); border-radius: 5%; background-color: white; color: rgb(0, 0, 0); width: 300px; height: 50px; margin-top: 20px;">Sign Up</a>
        </div>
    </div>
	</section>
   
</body>
</html>



